*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Vazirmatn',sans-serif;

background:#f8f7f3;

color:#1f1f1f;

direction:rtl;

overflow-x:hidden;

}


/* صفحه ورود */

#splash{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:linear-gradient(180deg,#ffffff,#f7f4ee);

animation:fadeOut 1s ease 2.5s forwards;

position:fixed;

width:100%;

z-index:999;

}

.logo{

font-size:70px;

margin-bottom:20px;

animation:float 2s infinite;

}

#splash h1{

font-size:40px;

font-weight:800;

color:#222;

margin-bottom:10px;

}

#splash p{

font-size:18px;

color:#777;

}



/* صفحه اصلی */

#home{

padding:30px;

max-width:650px;

margin:auto;

opacity:0;

animation:showHome 1s ease 2.8s forwards;

}

header{

text-align:center;

margin-top:30px;

margin-bottom:40px;

}

.logo-small{

font-size:55px;

margin-bottom:10px;

}

header h2{

font-size:34px;

margin-bottom:10px;

color:#1f1f1f;

}

header p{

font-size:18px;

line-height:35px;

color:#555;

}



/* دکمه ها */

.buttons{

display:flex;

flex-direction:column;

gap:18px;

margin-bottom:40px;

}

button{

border:none;

padding:18px;

border-radius:18px;

font-size:18px;

font-family:inherit;

cursor:pointer;

transition:.3s;

background:#111;

color:white;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

button:hover{

transform:translateY(-4px);

}



/* کارت ها */

.cards{

display:flex;

flex-direction:column;

gap:20px;

}

.card{

background:white;

border-radius:22px;

padding:25px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

.card h3{

margin:10px 0;

font-size:22px;

}

.card p{

color:#666;

line-height:28px;

}



/* انیمیشن ها */

@keyframes float{

50%{

transform:translateY(-10px);

}

}



@keyframes fadeOut{

to{

opacity:0;

visibility:hidden;

}

}



@keyframes showHome{

to{

opacity:1;

}

}



/* موبایل */

@media(max-width:600px){

#home{

padding:20px;

}

header h2{

font-size:28px;

}

button{

font-size:17px;

}

}
