*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Vazirmatn",sans-serif;
}

body{

background:#0f0f0f;

color:white;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:30px;

}

.container{

width:100%;

max-width:500px;

text-align:center;

}

.logo{

width:150px;

margin-bottom:20px;

}

h1{

font-size:38px;

margin-bottom:15px;

font-weight:800;

color:#d6aa46;

}

.subtitle{

font-size:18px;

line-height:36px;

margin-bottom:40px;

color:#ddd;

}

.menu{

display:flex;

flex-direction:column;

gap:18px;

}

.menu a{

background:#1d1d1d;

text-decoration:none;

color:white;

padding:18px;

border-radius:16px;

display:flex;

justify-content:space-between;

align-items:center;

transition:.3s;

font-size:18px;

}

.menu a:hover{

background:#d6aa46;

color:black;

transform:translateY(-3px);

}

.footer{

margin-top:45px;

font-size:14px;

color:#888;

}
